
:host{
  min-width: 100%;
}
.controls{
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.header-image {
  background-size: cover;
  margin-bottom: 10px;
}
.about-me{
    white-space: pre-wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 50px;
}
.about-me-short{
  overflow: auto;
  max-height: 50px;
}
.img-slide{
    display: flex;
    background:black;
    height: 40vh;

}
.img-slide-img{
  margin: auto;
  width: auto;
  height: 100%;
}