<mat-card class="example-card" *ngIf="usr!=null && !editing">
  <mat-card-header>
    <img mat-card-avatar class="header-image" [src]="profileImg" alt="Profile picture">

    <mat-card-title>{{usr.displayName?usr.displayName:'Anonymous'}}</mat-card-title>

    <mat-card-subtitle>{{usr.birth| date}}🎂</mat-card-subtitle>
  </mat-card-header>
  <div class="img-slide">
    <img class="img-slide-img" [src]="profileImg" alt="Profile picture">

  </div>
  <mat-card-content>

  
    <div class="about-me" [class.about-me-short]="!moreDetails" >
      <markdown [data]="usr.aboutme">
      </markdown>
    </div>
    <div style="text-align: center;"  *ngIf="!viewMode">
      <button (click)="more()" color="primary" mat-stroked-button *ngIf="!moreDetails">Expand</button>
      <button (click)="close()" color="warn" mat-stroked-button *ngIf="moreDetails">Close</button>

    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="controls" *ngIf="myProfile">
      <button mat-fab color="muted" aria-label="edit" (click)="copyLink()"  matTooltip="Share profile link">
        <mat-icon>share</mat-icon>
      </button>

      <button mat-fab color="primary" aria-label="edit" (click)="enableEdition()"  matTooltip="edit profile">
        <mat-icon>edit</mat-icon>
      </button>

    </div>
    <div class="controls" *ngIf="!myProfile && !viewMode">
      <button *ngIf="false" mat-fab color="primary" aria-label="sed a coffee"  matTooltip="send a coffee">
        <mat-icon>local_cafe</mat-icon>
      </button>
      <button mat-fab color="muted" *ngIf="!this.sent" aria-label="send a message" (click)="createChat(usr.uid)" matTooltip="send message" >
        <mat-icon>message</mat-icon>
      </button>
      <button mat-fab color="muted" style="border:1px solid greenyellow" (click)="chatSend()" *ngIf="this.sent" aria-label="sent message !"  matTooltip="sent message !" >
        <mat-icon style="color:green">done_all</mat-icon>
      </button>
      <button mat-fab color="warn" aria-label="next" (click)="nextUsr(usr.uid)"  matTooltip="next">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</mat-card>
