<div class="menu">
  <div class="back" routerLink="../">
    <i class="fa fa-chevron-left"></i>
     <img src="assets/images/happy.png" draggable="false"/></div>
  <div class="name">{{userName}}</div>
  <div class="last">{{nowDate | date}}</div>
</div>
<ol class="chat">
  <ng-container *ngFor="let m of this.mensajes">
    <li  [ngClass]="{'other': !isMyMsg(m.userId), 'self':isMyMsg(m.userId) }"
    >
      <div class="msg">
      <p>{{m.msg}}</p>
      <time>{{m.createAt|date}}</time>
      </div>
      </li>

  </ng-container>

  <div *ngIf="isNew()">
    <button mat-flat-button color="primary" (click)="approveChat()">Approve</button>
    <button mat-flat-button color="warn" (click)="disApproveChat()">Cancel</button>
  </div>




</ol>
<input class="textarea" (keyup.enter)="enviarMsg()" [(ngModel)]="text" type="text" placeholder="Type here!" required/>
<mat-icon class="emojis" (click)="enviarMsg()">send</mat-icon>