<mat-toolbar color="primary" class="nav">
    <!--<button mat-icon-button class="button-icon" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>-->
    <img src="/assets/icon.png" height="30" style="    filter: invert(1);   margin-bottom: 7px;">
    <span class="title" routerLink="">{{title}}</span>

    <span class="options">
      <button style="width:auto" *ngIf="(isAuthenticated|async)" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        
        <span *ngIf="this.authService.cachedUser">{{this.authService.cachedUser.displayName}}</span>
        <mat-icon 
        *ngIf="(this.chatService.newMessages|async)==true" matBadge="🔔" matBadgeColor="warn" >account_circle</mat-icon>
        <mat-icon *ngIf="(this.chatService.newMessages|async)==false" matBadgeColor="warn" >account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="profile">
          <mat-icon>account_circle</mat-icon>
          <span >My profile</span>
        </button>
        <button mat-menu-item routerLink="chat">
          <mat-icon  *ngIf="(this.chatService.newMessages|async)==true" matBadge="🔔">message</mat-icon>
          <mat-icon  *ngIf="(this.chatService.newMessages|async)==false">message</mat-icon>

          <span>Chat</span>
        </button>
        <button mat-menu-item (click)="endSession()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu>

      <button mat-icon-button aria-label="Example icon-button with a menu" *ngIf="(isAuthenticated|async) && false">
        <mat-icon matBadge="15" matBadgeColor="warn">message</mat-icon>
      </button>

      
      <button style="width:auto" *ngIf="!(isAuthenticated|async)" mat-icon-button [matMenuTriggerFor]="menuLogin" aria-label="Example icon-button with a menu">
        
        <span>Login</span>
      </button>
      <mat-menu #menuLogin="matMenu" >
        <app-auth></app-auth>
      </mat-menu>


      <a style="color:white" 
      href="https://twitter.com/intent/tweet?text=iLikeCoffee.dev%20"
      data-size="large" target="_Blank">
      <button mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>share</mat-icon>
      </button>
      </a>

    </span>

</mat-toolbar>
