.options{
  right: 20px;
  position: absolute;
  color: white;
  cursor:pointer;
}
.nav{
  cursor:pointer;
  background: rgb(57,194,188);
  background: linear-gradient(90deg, rgba(57,194,188,1) 0%, rgba(29,89,253,0.7714823176351826) 50%, rgba(110,252,69,0.4737295086464185) 100%);
}
mat-icon{
  margin-left: 10px;
}
.title{
  margin-left: 5px;
}