table{
  width: 100%;
  height: 100%;
  overflow:auto;
}
tr{
  max-height: 50px;
}
tr:hover{
  background: #fafafa;
}
p{
  margin:0;
  display: flex;
  align-items: center;
  height: 100% !important;
  width:100% !important;
  cursor:pointer;
}
.none{
  width: auto;
    height: 95%;
}