<img *ngIf="this.dataSource.length==0" mat-card-avatar class="none" src="/assets/images/nomsg.png" alt="no messages">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- icon col -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> 
      <img src="assets/images/happy.png" width="25" height="25"
      style="
      border: 3.5px solid #67ff80bf;
      border-radius: 100%;
      padding: 5px;">
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <p  (click)="openChat(element.chatId,element.userName,element.approved,element.userId)" style="
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 83px;
        width: 125px;
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;">{{element.userName}}</p>
    </td>
  </ng-container>

    <!-- space col -->
    <ng-container matColumnDef="other">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button disabled>
            <mat-icon>more_vert</mat-icon>
      </button>

      </td>
    </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>