:host{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.sidenav{
    min-width: 304px;
}
.sidenav-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 0;
    position: absolute;
}
.card-body{
    flex: 1;
    margin: 0 30% 0 30%;
    padding-top:0px;
}

@media (max-width: 850px) {
    .sidenav {
      width: 100%;
    }
    .card-body{
        flex:1;
        margin:0;
    }
}
