<div class="form-container" *ngIf="!register">

  <h2 class="mat-h2">Login</h2>

  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-element">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-stroked-button class="form-element" (click)="authenticate()">
    Login
  </button>
    
</div>

<div class="not-register">

  <button mat-button color="primary" class="form-element" (click)="doRegistry()"  *ngIf="!register">
    Not registered yet?
  </button>

</div>

<div class="form-container" *ngIf="register">

  <app-register></app-register>

  <button mat-button color="primary" class="form-element" (click)="doLogin()"  *ngIf="register">
    i already have an account
  </button>

</div>
