.form-container{
  display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.radios{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.radio-title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.about{
  margin-top: 25px;
}
