<div class="container">
  <div class="form-container" *ngIf="editing" >
    <h2 class="mat-h2">Edit Profile</h2> 
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Name</mat-label>
      <input matInput placeholder="John Doe" [formControl]="groupValdation.get('name')" required>
      <mat-error *ngIf="groupValdation.get('name').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Birth</mat-label>
      <input matInput [matDatepicker]="picker"  [formControl]="groupValdation.get('birth')" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

<div *ngIf="!isReady">
  <label id="example-radio-group-label" class="radio-title" >Select your sex</label>
  <mat-radio-group aria-label="Select your interest" class="radios"   [formControl]="groupValdation.get('sex')" >
    <mat-radio-button value="male">Men</mat-radio-button>
    <mat-radio-button value="female" >Woman</mat-radio-button>
  </mat-radio-group>
</div>


    <label id="example-radio-group-label" class="radio-title">Select your interest</label>
    <mat-radio-group aria-label="Select your interest" class="radios" [formControl]="groupValdation.get('interest')">
      <mat-radio-button value="male">Mens</mat-radio-button>
      <mat-radio-button value="female">Womans</mat-radio-button>
    </mat-radio-group>

    <div class="form-element radio-title">
      <label id="example-radio-group-label" class="radio-title">Profile picture</label><br><br>
      <input type="file" id="fileUpload" name="fileUpload"  accept="image/x-png,image/gif,image/jpeg"  />
    </div>

    <mat-form-field class="about">
      <mat-label>About Me</mat-label>
      <textarea matInput
      [formControl]="groupValdation.get('aboutMe')"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="15"
                maxlength="1000"
                placeholder="You can use Markdown !!!"></textarea>
    </mat-form-field>

    <div style="text-align:center;">
      <button mat-fab class="form-element" color="primary" (click)="saveProfile()" matTooltip="save profile">
        <mat-icon>save</mat-icon>
      </button>
    </div>


      
  </div>
  
    <app-profile  [user]="this.authService.cachedUser" [myProfile]="true" [editing]="editing" (edit)="enableEdition()"></app-profile>

</div>
