  <div class="slide">

  </div>
  <mat-carousel        
  #page
  timings="250ms ease-in"
  [autoplay]="false"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr">
  <ng-container  *ngFor="let usr of this.userService.users |async">
    <ng-container *ngIf="usr.uid != this.loggedUsrId">
      <mat-carousel-slide     
      overlayColor="#00000000"
      [hideOverlay]="true"
      >
          <app-profile 
          [user]="usr" 
          (next)="nextAccount()" 
          [overflow]="false" 
          ></app-profile>
  
      </mat-carousel-slide>
    </ng-container>
    

  </ng-container>

  </mat-carousel>

  