<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->

      <button mat-button class="menu-button" [routerLink]="['blog',node.route]">
        <mat-icon  style="margin-right: 10px;" *ngIf="node.icon">{{node.icon}}</mat-icon>
        {{node.name}}
      </button>

    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-button color="primary" matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name"
              class="menu-button menu-button-parent">
        <!--<mat-icon  class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>-->
        <mat-icon  style="margin-right: 10px;" *ngIf="node.icon">{{node.icon}}</mat-icon>
        {{node.name}}
      </button>

    </mat-tree-node>
  </mat-tree>
  