/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; flex-direction: column;}
img:not(.mat-card-image){
  max-width: 100%!important;
}
.card-body{
  overflow: auto!important;
}
.mat-card{
  min-height: 84vh;
  box-shadow:none !important;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 0px !important;
}
.carousel{
  height: 100%!important;
  overflow-y: auto !important;
  overflow-x: hidden!important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow:white;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow:white;
}
tbody{
  display:table!important;
  width: 100%!important;
  margin-top: 15px;
}
table{
  display: inline!important;
}
thead{
  display:none!important;
}
.swal2-modal {
  margin-top: 60px !important;
}